:root {
  --primary: #18a0fb;
  --onPrimary: white;
  --secondary: white;
  --onSecondary: black;
  --disabled: #b2b2b2;
  --destructive: #e05534;
  --borderColor: rgba(0, 0, 0, 0.3);
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
}

.grid {
  display: grid;
  padding: 16px;
  width: auto;
  grid-template-columns: 70% 30%;
  align-items: center;
}
hr {
  box-shadow: none;
  height: 1px;
  width: 100%;
  border-style: none;
  background-color: var(--disabled);
}
.span-2 {
  grid-column: span 2;
}

button {
  height: 32px;
  border-radius: 6px;
  width: auto;
  padding: 0px 11px;
  border-style: none;
  background-color: var(--primary);
  color: var(--onPrimary);
}

button.active {
  border-style: solid;
  border-color: var(--borderColor);
  border-width: 2px;
}
button.outline {
  background-color: var(--secondary);
  color: var(--onSecondary);
  border-style: solid 2px var(--onSecondary);
}
