:root {
	--primary: #18a0fb;
	--onPrimary: white;
	--secondary: white;
	--onSecondary: black;
	--disabled: #b2b2b2;
	--destructive: #e05534;
	--borderColor: rgba(0, 0, 0, 0.3);
}
html {
	box-sizing: content-box;
	font-family: sans-serif;
}
body {
	margin: 16px;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #d6d6d6 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
}

*::-webkit-scrollbar-thumb {
	background-color: #d6d6d6;
	border-radius: 10px;
	border: 3px solid #ffffff;
}
